* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

header{
    
}

/* .nav{
    display:flex;
    background-color: darkgreen;
}

.logo{
    height
}

.navlist{
    list-style: none;
    display: flex;
} */

img{
    height:45px;
    padding: 0;
	margin: 0;
	text-align: left;
	box-sizing: border-box;
	display: inline-block;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .navlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navitems {
    margin-left: 10px;
}

.navitems a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding:10px;
}
.hero {
	display: flex;
	align-items: center;
	min-height: 250px;
	width: 100%;
	text-align: center;
	background-position: center;
	background-color: Black !important
}
.inner-hero {
	margin: 0 auto;
	max-width: 800px
}
.judul-hero {
	color: #fff;
	font-weight: 400;
	font-size: 32px;
}

#content{
    display:flex;
    justify-content: space-between;
}

article{
    display:flex;
    width:70%;
    background-color: aquamarine;
    min-height:500px;
}
.about,
.visi,
.tim {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.visi .vimis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
}



aside{
    display: flex;
}


footer{
	background-color: #679366;
	color: black;
	font-size: 14px;
	padding: 2em;
	width: 100%;
	text-align: center;
}