@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/earlyaccess/jejugothic.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    header{
        app-bar{
            .navmob.open{
                @media screen and (max-width: 680px) {
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }
            }
            .appmob{
                @media screen and (min-width: 680px) {
                    display:none;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding: 8px;
                margin-bottom: 20px;
                .title-bar{
                   display:flex;
                   .logo{
                        display:flex;
                        img{
                            height:45px;
                            padding: 0;
                            margin: 0;
                            text-align: left;
                            box-sizing: border-box;
                            display: inline-block;
                        }
                    }
                    .title{
                        display:flex;
                        padding:5px;
                        font-family: 'Roboto', sans-serif;
                        color:#728F71;
                    }
                }
                .menumob {
                   @media screen and (min-width: 680px) {
                        display:none;
                    }
                    right:0;
                    color: #444736 !important;
                    display: flex;
                    font-size: 20px;
                    padding: 0 10px 0 10px;
                    justify-content: space-between;
                    position: sticky;
                    top: 0;
                    z-index: 999;    
                    .iconmenu a{
                        text-decoration: none;
                        color: #444736 !important;
                        box-sizing: border-box;
                        font-size: 40px;
                    }
                }
            }
            .navmob{
                @media screen and (min-width: 680px) {
                    display:none;
                }
                @media screen and (max-width: 679px) {
                    width: 30%;
                    right:0;
                    position:fixed;
                    margin-bottom: 20px;
                    -webkit-transform: translate(200%, 0);
                    transform: translate(200%, 0);
                    transition: transform 0.3s ease;
                }
                .navlistmob {
                    padding: 0;
                    margin: 0;
                    text-align: right;
                    list-style-type: none;
                    .navitemsmob {
                        @media screen and (max-width: 679px) {
                            display: list-item;
                            width: 100%;
                            text-align: right;
                        }
                        box-sizing: border-box;
                        display: inline-block;
                        text-align: right;
                        background-color: white;
                        text-decoration: none;
                        a{
                            color:rgb(0, 0, 0);
                            text-decoration: none;
                            display: inline-block;
                            padding: 1.3em;
                        }
                    }
                    .navitemsmob:hover{
                        background-color: #f2f2f2;
                    }
                }
            }
            .nav {
                @media screen and (max-width: 679px) {
                    display:none;
                }
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                padding: 10px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 20px;
                .title-bar{
                    display:flex;
                    .logo{
                        display:flex;
                        img{
                            height:45px;
                            padding: 0;
                            margin: 0;
                            text-align: left;
                            box-sizing: border-box;
                            display: inline-block;
                        }
                    }
                    .title{
                        display:flex;
                        padding:5px;
                        font-family: 'Roboto', sans-serif;
                        color:#728F71;
                    }
                }
                .navlist {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    .navitems a {
                        margin-left:10px;
                        color:rgb(0, 0, 0);
                        text-decoration: none;
                        padding:10px;
                        font-weight: 600;
                        font-size: 20px;
                        img{
                            height:25px;
                        }
                    }
                }
            }
        }
    }
    #mainContent{
        margin-bottom:90px;
        hero-element{
            .hero{
                @media screen and (max-width: 679px) {
                    min-height: 250px;
                }
                min-height: 350px;
                width: 100%;
                background-color: Black !important;
                background-image: linear-gradient(
                    rgba(2, 2, 9, 0.5),
                    rgba(2, 2, 9, 0.5)
                ),
                url('../public/images/image2.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                .inner-hero {
                    @media screen and (max-width: 679px) {
                        padding:20px 0 0 10px;
                        max-width: 300px;
                    }
                    max-width: 600px;
                    padding:40px 0 0 20px;
                    .judul-hero {
                        @media screen and (max-width: 679px) {
                        font-size: 20px;
                        }
                        text-align: left;
                        color: #fff;
                        font-weight: 400;
                        font-size: 32px;
                        font-family: 'inter', sans-serif;
                    }
                }
            }
        }
        main{
            padding: 40px 80px 40px 80px;
            .main-container{
                display:grid;
                grid-auto-flow:column;
                .content{
                    width:100%;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    h1{
                        @media screen and (max-width: 679px) {
                        font-size:20px;
                        }
                        text-align: center;
                        text-transform: uppercase;
                        font-family: 'Jeju Gothic', sans-serif;
                    }
                    hr{
                        margin-bottom: 20px;
                    }
                    #news-list{
                        width:100%;
                        display: grid;
                        justify-content: center;
                        align-content: center;
                    
                        gap: 10px;
                        grid-auto-flow: row;
                        .news-item{
                            @media screen and (max-width: 679px) {
                                width:360px;
                                gap: 6px;
                            }
                            border-radius: 10px;
                            padding:10px;
                            width:830px;
                            border: 1px black solid;
                            display: grid;
                            justify-content: center;
                            align-content: center;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 10px;
                            .image-news{
                                @media screen and (max-width: 679px) {
                                    grid-column-start: 1;
                                    grid-row-start: 1;
                                    width:120px;
                                }
                                display: grid;
                                grid-column-start: 1;
                                grid-row-start: 1;
                                grid-row-end: 3;
                                width:200px;
                                img{
                                    @media screen and (max-width: 679px) {
                                        width:120px;
                                        height:80px;
                                    }
                                    width:200px;
                                    height:120px;
                                    margin-top: 5px;
                                    object-fit: cover;
                                }
                            }
                            .title{
                                @media screen and (max-width: 679px) {
                                    width:200px;
                                }
                                display: grid;
                                grid-column-start: 2;
                                width:600px;
                                h3{
                                    @media screen and (max-width: 679px) {
                                        font-size:20px;
                                    }
                                    font-size:30px;
                                    margin-bottom: 0;
                                    font-family: 'Inter', sans-serif;
                                }
                                p{
                                    font-size:12px;
                                    margin-bottom: 2px;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                            .content{
                                @media screen and (max-width: 679px) {
                                    grid-column-start: 1;
                                    grid-column-end: 3;
                                    grid-row-start: 3;
                                }
                                grid-column-start: 2;
                                grid-row-start: 2;
                                p{
                                    @media screen and (max-width: 679px) {
                                        max-height:55px;
                                        overflow: hidden;
                                    }
                                    max-height:75px;
                                    overflow: hidden;
                                    font-size:15px;
                                    margin-bottom: 5px;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                    }                    
                }
            }
            #form-login{
                @media screen and (max-width: 1000px) {
                    grid-auto-flow: row;
                    gap: 40px;
                }
                display: grid;
                justify-content: center;
                align-content: center;
              
                gap: 100px;
                grid-auto-flow: column;
                .login-text{
                    @media screen and (max-width: 1000px) {
                        padding:10px;
                    }
                    display:grid;
                    padding:30px;
                    width:350px;
                    justify-content: center;
                    align-content: center;
                    h2{
                        margin-bottom:40px;
                        color: #8BB68A;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        text-align: center;
                    }
                    form{
                        .form-group{
                            input{
                                background-color: #E8ECF1;
                                border:0;
                                height:35px;
                                width:100%;
                                border-radius: 5px;
                                margin-bottom: 10px;
                                padding-left: 8px;
                            }
                            input:focus{
                                background-color: #ffffff;
                            }
                            input:valid{
                                background-color: #f8f8f8;
                                border:1px rgb(87, 87, 87) solid;
                            }
                            input::placeholder{
                                color: #9c9c9c;
                            }
                            input::-webkit-input-placeholder{
                                color: #9c9c9c;
                            }
                        }
                    }
                    .btn{
                        background-color: #8BB68A;
                        width:100%;
                        height:40px;
                        border:0;
                        border-radius: 5px;
                        color:white;
                        font-size: 18px;
                        font-weight: 500;
                        margin-top:30px;
                        font-family: 'Roboto', sans-serif;
                    }
                    .btn:hover{
                        background-color: #718870;
                    }
                    p{
                        margin-top: 20px;
                        color: #878585;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: 20px;
                        a{
                            color: #8BB68A;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
                .login-image{
                    @media screen and (max-width: 1000px) {
                        padding:10px;
                    }
                    display:grid;
                    justify-content: center;
                    align-content: center;
                    padding:40px;
                    img{
                        @media screen and (max-width: 1000px) {
                            width:150px;
                        }
                        width:400px;
                        object-fit: cover;
                    }
                }
            }
            
            #form-register{
                @media screen and (max-width: 1000px) {
                    grid-auto-flow: row;
                    gap: 40px;
                }
                display: grid;
                justify-content: center;
                align-content: center;
              
                gap: 100px;
                grid-auto-flow: column;
                .register-text{
                    @media screen and (max-width: 1000px) {
                        padding:10px;
                    }
                    display:grid;
                    padding:30px;
                    width:350px;
                    justify-content: center;
                    align-content: center;
                    h2{
                        margin-bottom:40px;
                        color: #8BB68A;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        text-align: center;
                    }
                    form{
                        .form-group{
                            input{
                                background-color: #E8ECF1;
                                border:0;
                                height:35px;
                                width:100%;
                                border-radius: 5px;
                                margin-bottom: 10px;
                                padding-left: 8px;
                            }
                            input:focus{
                                background-color: #ffffff;
                            }
                            input:valid{
                                background-color: #f8f8f8;
                                border:1px rgb(87, 87, 87) solid;
                            }
                            input::placeholder{
                                color: #9c9c9c;
                            }
                            input::-webkit-input-placeholder{
                                color: #9c9c9c;
                            }
                        }
                    }
                    .btn{
                        background-color: #8BB68A;
                        width:100%;
                        height:40px;
                        border:0;
                        border-radius: 5px;
                        color:white;
                        font-size: 18px;
                        font-weight: 500;
                        margin-top:30px;
                        font-family: 'Roboto', sans-serif;
                    }
                    .btn:hover{
                        background-color: #718870;
                    }
                    p{
                        margin-top: 20px;
                        color: #878585;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                        font-size: 20px;
                        a{
                            color: #8BB68A;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bold;
                            text-decoration: none;
                        }
                    }
                }
                .register-image{
                    @media screen and (max-width: 1000px) {
                        padding:10px;
                    }
                    display:grid;
                    justify-content: center;
                    align-content: center;
                    padding:40px;
                    img{
                        @media screen and (max-width: 1000px) {
                            width:150px;
                        }
                        width:400px;
                        object-fit: cover;
                    }
                }
            }
            #welcome-container{
                @media screen and (max-width: 1000px) {
                    grid-auto-flow:dense;
                    gap: 20px;
                }
                display: grid;
                justify-content: center;
                align-content: center;
              
                gap: 50px;
                grid-auto-flow: column;
                .welcome-text{
                    @media screen and (max-width: 1000px) {
                        width:300px;
                        grid-row-start: 2;
                    }
                    display:grid;
                    
                    width:600px;
                    height:400px;
                    padding:30px 0 30px 30px;
                    h2{
                        @media screen and (max-width: 1000px) {
                            font-size:35px;
                            padding-top:20px;
                        }
                        padding-top:50px;
                        margin-bottom:0;
                        color: #8BB68A;
                        font-size:55px;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                    }
                    p{
                        @media screen and (max-width: 1000px) {
                            font-size:18px;
                        }
                        font-size: 24px;
                        font-family: 'Inter', sans-serif;
                    }
                    .button-element{
                        display:grid;
                        justify-content: center;
                        align-content: center;
                        gap: 50px;
                        grid-auto-flow: column;
                        padding-right:30px;
                        .btn{
                            background-color: #8BB68A;
                            border-radius: 10px;
                            width:100px;
                            height:40px;
                            color:white;
                            font-size: 20px;
                            font-weight: 800;
                            padding: 10px;
                            text-decoration: none;
                            text-align: center;
                            font-family: 'Roboto', sans-serif;
                        }
                        .btn:hover{
                            background-color: #718870;
                        }
                    }
                }
                .welcome-image{
                    @media screen and (max-width: 1000px) {
                        width:300px;
                        grid-row-start: 1;
                        padding:10px;
                    }
                    display:grid;
                    width:500px;
                    justify-content: center;
                    align-content: center;
                    padding:30px;
                    img{
                        @media screen and (max-width: 1000px) {
                            width:200px;
                        }
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
            }
        }
        aside{
            
        }
        .temi{
            padding: 40px 80px 40px 80px;
            .about{
                h1{
                    text-decoration: underline;
                }
                #about-container{
                    @media screen and (min-width: 700px) {
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    gap: 10px;
                    grid-auto-flow: column;
                    }
                    img{
                        @media screen and (min-width: 900px) {
                        width:500px;
                        height:300px;
                        }
                        width:300px;
                        height:200px;
                        object-fit: cover;
                    }
                    p{
                        text-align: justify;
                    }
                }
            }
            .visi{
                h1{
                    text-decoration: underline;
                }
            }
            .about,
            .visi,
            .tim {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 100px;
              margin-left: 10px;
              margin-right: 10px;
            }
            .visi .vimis {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                text-align: center;
            }

            .tim{
                h1{
                    text-decoration: underline;
                }
                .tim-container{
                    @media screen and (min-width: 700px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 10px;
                        grid-row-gap: 16px;
                    }
                    @media screen and (min-width: 900px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                    }
                    display: grid;
                    grid-column-gap: 10px;
                    grid-row-gap: 16px;
                .list-tim{
                    min-width:180px;
                    min-height:70px;
                    margin:5px;
                    padding:5px;
                    border-radius: 5px;
                    border: 2px solid black;
                    #atas{
                        width:100%;
                        height:120px;
                        background-color: #444736;
                    }
                    p{
                        text-align: center;
                        padding:5px;
                        font-size:15px;
                        font-weight:600;
                    }
                }
                }
            }
        }
    }        
    footer{
        background-color: #679366;
        color: black;
        font-size: 14px;
        padding: 2em;
        width: 100%;
        text-align: center;
    }
}