<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecoware</title>
    <link href="../style/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <!-- Navbar Mobile -->
      <div class="mobilemenu" hidden>
        <div class="logo">
          <img src="../public/icons/Logo.png" width="7%" alt="Logo" />
        </div>
        <div class="iconmenu" id="menu">
          <a href="#" style="font-size: 30px">&#9776;</a>
        </div>
      </div>

      <nav id="drawer" class="navmobile" hidden>
        <ul class="navlistmobile">
          <li class="navitemsmobile"><a href="#/main-menu">Home</a></li>
          <li class="navitemsmobile"><a href="#/favorite">Our story</a></li>
          <li class="navitemsmobile">
            <a href="https://github.com/Pdz03/ecoaware-apps" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>

      <!-- Navbar Desktop -->
      <nav class="nav">
        <a class="logo" href="">
          <img src="../public/icons/Logo.png" alt="Logo" />
        </a>
        <ul class="navlist">
          <li class="navitems"><a href="#/main-menu">Home</a></li>
          <li class="navitems"><a href="#/favorite">Our story</a></li>
          <li class="navitems">
            <a href="https://github.com/Pdz03/ecoaware-apps" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="slider">INI SLIDER</div>
      <div id="content">
        <article>
          <section>Artikel</section>
        </article>
        <aside>
          <section>samping</section>
        </aside>
      </div>
    </main>

    <footer>
      <p>Copyright © 2023 - Ecoware by ....</p>
    </footer>
  </body>
</html>
