<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoware</title>
    <link href="../../../style/style.css" rel="stylesheet" />
</head>
<body>
<header>
    <!-- Navbar Mobile -->
    <div class="mobilemenu" hidden>
        <div class="logo">
          <img src="../../../../public/icons/Logo.png" width="7%" alt="Logo" />
        </div>
        <div class="iconmenu" id="menu">
          <a href="#" style="font-size: 30px">&#9776;</a>
        </div>
      </div>

      <nav id="drawer" class="navmobile" hidden>
        <ul class="navlistmobile">
             <li class="navitems"><a href="../../../Templates/index.html">Home</a></li>
             <li class="navitems"><a href="./tentang-kami.html">Our story</a></li>
             <li class="navitemsmobile">
            <a href="https://github.com/Pdz03/ecoaware-apps" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>

      <!-- Navbar Desktop -->
      <nav class="nav">
        <a class="logo" href="">
          <img src="../../../../public/icons/Logo.png" alt="Logo" />
        </a>
        <ul class="navlist">
          <li class="navitems"><a href="../../../Templates/index.html">Home</a></li>
          <li class="navitems"><a href="./tentang-kami.html">Our story</a></li>
          <li class="navitems">
            <a href="https://github.com/Pdz03/ecoaware-apps" target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>

      <!-- Jumbotron -->
      <div class="hero" style="background-image: linear-gradient(rgba(2, 2, 9, 0.8), rgba(2, 2, 9, 0.8)), url('../../../../public/images/hero-image.jpeg'); background-repeat: no-repeat; background-size: auto;">
        <div class="inner-hero">
          <h1 class="judul-hero">
            “Let’s nurture the nature, 
            so that we can have a better future.”
          </h1>
        </div>
      </div>
</header>
<main>
    <div class="about">
        <h1>Tentang Kami</h1>
        <img>
        <p><b>EcoAware</b> merupakan platform digital yang akan menyediakan informasi tentang berbagai aspek isu
            lingkungan seperti sumber daya alam, ekosistem, dan perubahan iklim. Ini akan
            memberikan data dan informasi yang diperlukan untuk mengambil tindakan yang
            tepat untuk menjaga keberlanjutan dan melindungi lingkungan.
            
            Dengan demikian, aplikasi web Sumber Daya Alam, Ekosistem, dan Perubahan
            Iklim dapat menjadi alat yang sangat berguna untuk meningkatkan kesadaran
            tentang isu lingkungan, sumber daya alam, ekosistem, dan perubahan iklim. Ini
            dapat membantu kita mengambil tindakan yang tepat untuk menjaga keberlanjutan dan melindungi lingkungan.</p>
    </div>
    <div class="visi">
        <h1>Visi dan Misi</h1>
        <div class="vimis">
        <div class="vis">
        <h2>Visi</h2>
        <p>Menjadi sumber utama informasi dan alat yang mempromosikan kesadaran, pemahaman, dan tindakan yang berkelanjutan dalam menghadapi isu lingkungan, sumber daya alam, ekosistem, dan perubahan iklim.</p>
        </div>
        <div class="Mis">
        <h2>Misi</h2>
        <p> 1. Memberikan informasi yang terpercaya dan terkini<br>
            2. Meningkatkan kesadaran dan pemahaman<br>
            3. Mendorong tindakan berkelanjutan</p>
        </div>
        </div>
    </div>
    <div class="tim">
        <h1>Tim Kami</h1>
    </div>
</main>
<footer>
    <p>Copyright © 2023 - Ecoware by ....</p>
  </footer>
</body>
</html>